@{
    ViewData["Title"] = "Home Page";
}
<strong>
<div class="text-center">
    <h1 class="display-4">Welcome to myHumidor</h1>
    <p>Your resource to track your favorite cigars!</p>
</div>
<div id="fillerDiv"></div>
</strong>